.btn {
   padding: .8rem 1.7rem;
   border: none;
   border-radius: .5rem;
   background-color: var(--white);
   color: var(--red);
   font-size: 1rem;
   transition: 0.2s;
   font-weight: bold;
   text-transform: uppercase
}

.btn:hover {
   filter: brightness(0.8)
}